/* general */
html {
  background-color: gray;
  font-family: sans-serif;
}

em {
  font-style: normal;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
}

/* header and navbar */

nav {
  height: 64px;
  width: 100%;
  display: inline-flex;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  border-bottom: 1px solid gray;
}


#nav-container {
  position: fixed;
  right: 24px;
  top: 6px;
  text-align: right;
  list-style: none;
  display: inline-block;
}

#logo {
  position: fixed;
  left: 24px;
  font-size: 1.75rem;
  display: flex;
}

li {
  display: inline-block;
  margin: 0px 8px;
  font-family: Georgia;
}

/* body structure */
body {
  padding-top: 56px;
}

.section {
  width: 101.1%;
  display: flex;
  position: relative;
  right: 8px;
  z-index: -1;
  align-items: center;
}

.subsection {
  min-width: 40%;
  display: flex;
  justify-content: center;
}

.text-subsection {
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 1px solid;
  font-size: 30px;
  width: 100%;
}

.banner-img {
    width: 80%;
    padding: 32px 24px;
    border: 1px solid;
}

.horizontal-tile {
  display: inline-flex;
  width: 100%;
  background-color: yellow;
  border: 1px solid green;
}

.horizontal-tile p {
    font-size: 1rem;
}

.caption {
  display: flex;
  flex-direction: column;
  padding: 0px 32px 0px 32px;
  margin: 0px 61px 0px 61px;
  border: 1px solid blue;
}

.h-tile-image {
  width: 30%;
  height: auto;
  padding: 16px;
  border: 1px solid purple;
}

.h-tile-caption {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tile-title {
  padding: 0;
  margin: 0;
}

.tile-subtitle {
  padding: 0;
  margin: 0;
}

/* body section 1 */
#section-1 {
  background-color: #9F9F9F;
}

/* body section 2 */
#section-2 {
  background-color: #DFDFDF;
}

/* body section 3 */
#section-3 {
  background-color: #9F9F9F;
}

/* body section 4 */
#section-4 {
  background-color: #DFDFDF;
}
