html {
  background-color: gray;
  font: Verdana, sans-serif;
}

/* header and navbar */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  height: 64px;
  width: 100%;
  display: inline-flex;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
}

#nav-container {
  position: fixed;
  right: 24px;
  top: 6px;
}

#logo {
  position: fixed;
  left: 24px;
  font-size: 24px;
  display: flex;
}

ul .navbar {
  text-align: right;
  list-style: none;
  display: inline-block;
}

li {
  display: inline-block;
  padding: 0px;
  margin: 0px 8px;
}

/* body */
