/* general */
html {
  background-color: gray;
  font-family: sans-serif;
}

em {
  font-style: normal;
  font-weight: bolder;
}

/* header and navbar */

nav {
  height: 64px;
  width: 100%;
  display: inline-flex;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
}


#nav-container {
  position: fixed;
  right: 24px;
  top: 6px;
  text-align: right;
  list-style: none;
  display: inline-block;
}

#logo {
  position: fixed;
  left: 24px;
  font-size: 1.75rem;
  display: flex;
}

li {
  display: inline-block;
  margin: 0px 8px;
  font-family: Georgia;
}

/* body structure */
body {
  padding-top: 56px;
}

.section {
  width: 101.1%;
  display: flex;
  position: relative;
  right: 8px;
  z-index: -1;
  align-items: center;
}

.subsection {
  width: 50%;
  display: flex;
  justify-content: center;
}

.banner-img {
    width: 60%;
}

/* body section 1 */
#section-1 {
  background-color: #9F9F9F;
}

/* body section 2 */
#section-2 {
  background-color: #DFDFDF;
}

/* body section 3 */
#section-3 {
  background-color: #9F9F9F;
}

/* body section 4 */
#section-4 {
  background-color: #DFDFDF;
}
