/* general */
html {
  background-color: gray;
  font-family: sans-serif;
}

em {
  font-style: normal;
  font-weight: bolder;
}

/* header and navbar */

nav {
  height: 64px;
  width: 110%;
  display: inline-flex;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
}

#nav-container {
  position: fixed;
  right: 24px;
  top: 6px;
  text-align: right;
  list-style: none;
  display: inline-block;
}

#logo {
  position: fixed;
  left: 24px;
  font-size: 1.75rem;
  display: flex;
}

li {
  display: inline-block;
  margin: 0px 8px;
  font-family: Georgia;
}

/* body */
body {
  padding-top: 64px;
}
